$C1A: #151515;
$C1B: #575757;
$C1C: #A9A9A9;
$C1D: #D1D1D1;
$C1E: #EBEBEB;
$C1F: #F5F5F5;
$C1H: #F9F9F9;
$C1J: #FFFFFF;
$C2A: #EE316D;
$C2B: #C7522D;
$C2C: #EB8D70;
$C2D: #F7C6B7;
$C2E: #FFF1ED;

:export {
    C1A: #151515;
    C1B: #575757;
    C1C: #A9A9A9;
    C1D: #D1D1D1;
    C1E: #EBEBEB;
    C1F: #F5F5F5;
    C1H: #F9F9F9;
    C1J: #FFFFFF;

    C2A: #EE316D;
    C2B: #C7522D;
    C2C: #EB8D70;
    C2D: #F7C6B7;
    C2E: #FFF1ED;
}