@use "../common/colors" as c;
@use "../common/sizes" as f;

.plus {
    margin-right: 4px;
}

.addToCart {
    display: flex;
    align-items: center;
    justify-content: center;
}

.leftAligned {
    align-items: flex-start !important;
    justify-content: center !important;
}

.price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    border-radius: 12px;
    border: 1px solid c.$C1F;
}

.title > h1, .title > h3 {
    width: fit-content;
}

.actions {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.prodInfo {
    padding-bottom: 40px;
}

.infoCont {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 16px;
}

.infoLabel {
    color: c.$C1C;
    margin-right: 20px;
}

.infoValue {
    color: c.$C1A;
}

.row {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: ceter;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.infoLabel {
    color: c.$C1C;
}

.detailText {
    margin-top: -4px;
}

.title > h1 {
    margin-bottom: 0px;
}

.title > h3 {
    color: c.$C1C;
    font-weight: 500;
    margin-bottom: 10px;
}

.actions > h2 {
    font-weight: 600;
}

.detailRating {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 18px;
    margin-top: 10px;
}

.detailRating > span {
    font-family: 'Open Sans', sans-serif;
    color: c.$C1C;
    position: relative;
    top: 1px;
    margin-left: 10px;
}

.detailRec {
    padding-bottom: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: f.$padding;
    padding-right: f.$padding;
    position: relative;
    top: 48px;
}

.detailMoreBtn {
    text-decoration: none;
    color: c.$C1A;
}

.detailRec > h4 {
    font-weight: 600;
}

.detailContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    text-align: justify;
    padding-left: f.$padding;
    padding-right: f.$padding;
    flex-wrap: wrap;
    margin-top: 28px;
}

.author {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    margin-bottom: 16px;
}

.titleH1 {
    max-width: 600px;
    overflow: wrap;
}

.seriesH3 {
    max-width: 600px;
    overflow: wrap;
}

.descrWithReadMore {
    max-height: none !important;
    overflow-y: hidden !important;
    height: fit-content;
}

.readMoreButton {
    display: inline-block;
    color: c.$C2A;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    padding-left: 10px;
}

.detailText > p {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    max-width: 570px;
    max-height: 180px;
    overflow-y: auto;

    flex-shrink: 1;
    text-overflow: ellipsis;
    padding: 12px 16px;
    border: 1px solid c.$C1F;
    border-radius: 12px;
}

.prodDetailImgContAdmin {
    top: 16px;
}

.prodDetailImgCont {
    position: relative;
}

.prodDetailsSetImgURL {
    position: absolute;
    top: -16px;
    left: -16px;
}

.prodDetailImg {
    margin-top: 4px;
    margin-left: 16px;
    flex-grow: 1;
    flex-shrink: 1;
    border-radius: 20px 3px;
    width: auto;
    max-width: min(100%, 320px);
}